:root {
    --checkmark-width: 6px;
    --checkmark-height: 12px;
}

%input-reset {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

%control-base {
    position: relative;
    width: var(--control-size);
    height: var(--control-size);
    min-width: var(--control-size);
    min-height: var(--control-size);
    border: var(--outline-size) solid var(--color-primary);
}

%control-hover {
    &:hover {
        transform: scale(1.05);
        border-color: var(--hover-color);
    }
}


.checkbox {
    position: relative;
    display: flex;
    gap: var(--spacing-sm);
    cursor: pointer;
    transition: all var(--animation-duration-fast) ease;

    &.size_extra_small {
        --control-size: 0.75rem;
        --checkmark-width: 3px;
        --checkmark-height: 6px;
    }
    
    &.size_small {
        --control-size: 1.0625rem;
        --checkmark-width: 4.1px;
        --checkmark-height: 8.2px;
    }
    
    &.size_medium {
        --control-size: 1.375rem;
    }
    
    &.size_large {
        --control-size: 1.6875rem;
        --checkmark-width: 7.4px;
        --checkmark-height: 14.8px;
    }
    
    &.size_extra_large {
        --control-size: 2rem;
        --checkmark-width: 8.5px;
        --checkmark-height: 17px;
    }
    


    .checkbox-input {
        @extend %input-reset;
    }

    .checkbox-control {
        @extend %control-base;
        border-radius: var(--border-radius);
    
        background-color: transparent;
    
        transition:
            background-color var(--animation-duration-fast) ease,
            border-color var(--animation-duration-fast) ease;
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            transition:
                transform var(--animation-duration-fast) ease,
                opacity var(--animation-duration-fast) ease;
            will-change: transform, opacity;
        }
    
        &::after {
            left: 50%;
            top: 45%;
            width: var(--checkmark-width);
            height: var(--checkmark-height);
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -50%) rotate(45deg) scale(0);
            opacity: 0;
        }
    }
    

    .checkbox-input:checked~.checkbox-control {
        background-color: var(--color-primary);
        border-color: var(--color-primary);

        &::after {
            transform: translate(-50%, -50%) rotate(45deg) scale(1);
            opacity: 1;
        }
    }
    .checkbox-input:disabled ~ .checkbox-control {
        opacity: var(--disabled-opacity-modifier);
        cursor: not-allowed;
    }

    .checkbox-input:disabled ~ .checkbox-control::after {
        pointer-events: none;
    }

    .checkbox-input:disabled ~ * {
        pointer-events: none;
    }
}