
$appearances: (
    primary: --color-primary,
    secondary: --color-secondary,
    info: --color-info,
    "transparent": transparent,
    success: --color-success,
    warning: --color-warning,
    bright: --text-color-light,
    muted: --text-color-muted,
    error: --color-error
);


@keyframes pulse {
    0% {
        opacity: 0.25;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}
.icon {
    width: 1rem;
    height: 1rem;

    &.animation_pulse {
        animation: pulse var(--animation-duration) linear infinite;
    }

    &.size_extra_small {
        width: var(--text-size-extra-small);
        height: var(--text-size-extra-small);
    }
    &.size_small {
        width: var(--text-size-small);
        height: var(--text-size-small);
    }
    &.size_medium {
        width: var(--text-size-medium);
        height: var(--text-size-medium);
    }
    &.size_large {
        width: var(--text-size-large);
        height: var(--text-size-large);
    }
    &.size_extra_large {
        width: var(--text-size-extra-large);
        height: var(--text-size-extra-large);
    }

    @each $appearance, $var in $appearances {
        &.appearance_#{$appearance} {
            color: var(#{$var});
        }
    }
}